*{ 
    margin: 0px;
    padding: 0px;
    /* border: 1px,solid,yellow; */
}
ul#main
{
    display: flex;
    list-style-type: none;
}
ul#main a {
    margin: 0px 0px;
    padding: 10px 15px;
    display:block;
    color: #f0ece8;  
    
}
#wrapper{
    width: 600px;
    margin: 0px 300px ;
    background-color: rgb(234, 134, 84);
    float: inline-start;
    /* justify-content: flex-end;  */
}
a{
    
    text-decoration: none;
    
} 

