*{
    margin: 0px;
    padding: 0px;
}
ul#main
{
    display: flex;
    list-style-type: none;
}
ul#main a {
    padding: 10px 15px;
    display:block;
    color: #f0ece8;   
}
#wrapper{
    width: 600px;
    margin: 0px 300px ;
    background-color: rgb(234, 134, 84);
}
a{
    text-decoration: none;
}